boto3==1.40.70
botocore==1.40.76
certifi==2026.5.20
cffi==2.0.0 ; platform_python_implementation != 'PyPy'
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6 ; sys_platform == 'win32'
cryptography==48.0.1
google-api-core==2.31.0
google-api-python-client==2.187.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
googleapis-common-protos==1.75.0
gtts==2.5.4
httplib2==0.31.2
idna==3.18
iniconfig==2.3.0
jmespath==1.1.0
mutagen==1.47.0
oauth2client==4.1.3
oauthlib==3.3.1
packaging==26.2
pip==26.1.2
pip-check-reqs==2.5.5
pipdeptree==2.29.0
pluggy==1.6.0
praw==7.8.2
prawcore==2.4.0
proto-plus==1.28.0
protobuf==7.35.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation != 'PyPy'
pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.3
python-dateutil==2.9.0.post0
requests==2.34.2
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.14.0
six==1.17.0
update-checker==1.0.0
uritemplate==4.2.0
urllib3==2.7.0
websocket-client==1.9.0
